@import "tailwindcss";

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.compact-datetime {
	appearance: none;
	-moz-appearance: textfield;
	color-scheme: light;
	font-size: 0.75rem;
	line-height: 1rem;
}

.compact-datetime::-webkit-calendar-picker-indicator,
.compact-datetime::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
}